.input-box {
    text-align: center;

    input {
        width: 254px;
        height: 30px;
    }

    button {
        width: 60px;
        line-height: 31px;
    }
}

.google-map {
    margin: 4px auto;
    width: 320px;
    height: 320px;
}
